<h1>login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form action="/login" method="POST">
  <div>
    <label for="name">Email</label>
    <!-- id is for the label, name is for the server -->
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="name">Password</label>
    <!-- id is for the label, name is for the server -->
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">Register</a>